<div class="modal-header">
  <h1>UPDATE BOOKING</h1>
</div>
<div class="modal-body">
  <app-booking-room [bookingRoom]="booking"></app-booking-room>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="close()">Close</button>
</div>

