
<br>
<h3>Top Workers</h3>
<div class="grid grid-pad">
  <a *ngFor="let worker of staff" class="col-1-4"
     routerLink="/detail/{{worker.id}}">
    <div class="module worker">
      <h4>{{worker.name}}</h4>
    </div>
  </a>
</div>

<app-staff-form></app-staff-form>

<app-staff></app-staff>
<app-messages></app-messages>

<button routerLink="/sidekicks">Go to sidekicks</button>
