<div class="modal-header">
  <h1>WARNING!</h1>
</div>
<div class="modal-body">
  Are you sure you want to delete this booking?
  <br>
  <button (click)="DeleteThisBooking() " class="btn btn-warning">DELETE</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="close()">Close</button>
</div>

