<div *ngIf="worker">

  <h2>{{worker.name | uppercase}} Name</h2>
  <div><span>id: </span>{{worker.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="worker.name" placeholder="name"/>
    </label>
    <br>
    <label>surname:
      <input [(ngModel)]="worker.lastname" placeholder="lastname"/>
    </label>
    <br>
    <label>position:
      <input [(ngModel)]="worker.position" placeholder="position"/>
    </label>
    <br>
    <label>age:
      <input [(ngModel)]="worker.age" placeholder="age"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>

