<br>
<div class="crisis"><h1>My animations examples:</h1>
<br>
<app-open-close></app-open-close>
<br>
<br>
<app-status-slider></app-status-slider>
<br>
<br>
<app-worker-list-enter-leave-page>Enter/Leave Component</app-worker-list-enter-leave-page>
<app-worker-list-auto>Auto Calculation</app-worker-list-auto>
<app-worker-list-page>Filter/Stagger</app-worker-list-page>
<app-worker-list-groups>Staff Groups</app-worker-list-groups>
<app-insert-remove>Insert/Remove</app-insert-remove>
</div>
<!-- div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div -->
