<div class = "card-group">
    <div style="background-image: none; background-repeat: no-repeat; background-position: center; background-size: inherit; border: #333333">
      <h1>Booking</h1>
      <form [formGroup]="form">
        <div class="hotel-container hotel-red">
          <div class="hotel-half hotel-margin-bottom">
            <input type="hidden"  formControlName="bookingNr" id="bookingNr" class="form-control" [ngClass]="{ 'is-invalid': isError()}"/>
            <div *ngIf="isError()" class="invalid-feedback">
            </div>
            <label><i class="fa fa-calendar-o"></i> Check In</label>
            <input #d1="ngbDatepicker"
                   class="form-control hotel-input hotel-border"
                   formControlName="startDate"
                   id="startDate"
                   name="dp" ngbDatepicker
                   type="date"
                   placeholder="DD MM YYYY"
                   required="required"
                   [ngClass]="{ 'is-invalid': isError() }" />
            <div *ngIf="isError()" class="invalid-feedback">Start date is required</div>
            <label [class.custom-title]="this.form.controls.startDate.value" for="startDate"
                   jhiTranslate="startDate"></label>
            <div class="input-group-append">
            </div>
          </div>
        </div>
        <div class="hotel-container hotel-red">
          <div class="hotel-half">
            <label><i class="fa fa-calendar-o"></i>Check Out</label>
            <input #d2="ngbDatepicker"
                   [maxDate]="maxDate"
                   [minDate]="minDate"
                   class="form-control hotel-input hotel-border"
                   formControlName="endDate"
                   id="endDate"
                   name="dp" ngbDatepicker
                   type="date"
                   placeholder="DD MM YYYY"
                   required="required"
                   [ngClass]="{ 'is-invalid': isError() }" />
            <div *ngIf="isError()" class="invalid-feedback">End date is required</div>
            <label [class.custom-title]="this.form.controls.endDate.value" for="endDate"
                   jhiTranslate="endDate"></label>
            <div class="input-group-append">
            </div>
          </div>
          <br>
          <div class="hotel-half hotel-margin-bottom">
            <label><i class="fa fa-male"></i> Persons: </label>
            <br>
            <input class="hotel-input hotel-border"
                   formControlName="personsC"
                   type="number"
                   id="personsC"
                   min="1" max="3"
                   [ngModel]="persons" [ngClass]="{ 'is-invalid': isError() }" /><br><br>
            <div *ngIf="isError()" class="invalid-feedback">Persons number is required</div>
          </div>
        </div>
<h2>ROOMS</h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Room</th>
            <th>Description</th>
            <th>Max persons</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let room of rooms">
            <td><input formControlName="room" type="radio" value="{{room.id}}">{{room.id}}</td>
            <td>{{room.description}}</td>
            <td>{{room.size}}</td>
          </tr>
          </tbody>
        </table>

        <br>
        <h2>PERSONS</h2>
          <table class="table table-striped">
              <thead>
              <tr>
                <th>Nr</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Personal Code</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let person of persons">
                <td><input formControlName="persons" type="checkbox"  checked="checks" (change)="updateChecked(person,$event)">{{person.nr}}</td>
                <td>{{person.name}}</td>
                <td>{{person.surname}}</td>
                <td>{{person.personalCode}}</td>
              </tr>
              </tbody>
          </table>
          <button  (click)="onSubmit()"   type="button" class="btn btn-primary" data-toggle="modal" data-target="roomModal">
          RESERVE ROOM
        </button>
        <table class="table table-striped">
          <app-messages></app-messages>
        </table>
      </form>
  </div>
</div>


