.fa-calendar-o
{
  content:"\f133";
  text: bold;
  background: lightsteelblue;
}

.fa {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.fa-male {
  content:"\f183"
}

.hotel {
  padding:8px;
  display:block;
  border:cornflowerblue;

  border-bottom:1px solid #ccc;
  width:100%;
  opacity: 98%;

}

.hotel-row-padding {
  content:"";
  display: table;
  clear:both;
  padding:0 8px
}

.hotel-half {
  float:left;
  width:100%
}

.hotel-margin-bottom {
  margin-bottom:16px
}
