.col-xs-3{
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  float:left;
  width:25%
}

.col-xs-9{
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  float:left;
  width: 75%
}
