<div class="modal-header">
  <h1>WARNING!</h1>
</div>
<div class="modal-body">
  Are you sure you want to delete this person?
  <br>
  <button (click)="DeleteThisPerson() " class="btn btn-warning">DELETE</button>
<br>
<div [hidden]="!submitted">
  <h2>The person is deleted! </h2>
    <div class="col-xs-3">Name: </div>
    <div class="col-xs-9"> {{ person.name }}</div>
    <div class="col-xs-3">Lastname: </div>
    <div class="col-xs-9">{{ person.surname }}</div>
    <div class="col-xs-3">ID: </div>
    <div class="col-xs-9" bold>{{ person.personalCode }}</div>
  <br>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="close()">Close</button>
</div>
</div>


