
  <div>
    <div id="errorBox" style="display: none;">

    </div>

    <form [formGroup]="registerForm">

      <!--{{diagnostic}}-->

      <div class="form-group">

    <input type="hidden"
           formControlName="nr"
           id="nr"
           class="form-control ng-untouched ng-pristine ng-valid"
           value="{{person.nr}}"
           [ngClass]="{ 'is-invalid': isError()}"/>
        <div *ngIf="isError()" class="invalid-feedback">
        </div>

    Name:<br>
    <input type="text"
           formControlName="name"
           id="name"
           class="form-control ng-untouched ng-pristine ng-valid"
           required
           [ngClass]="{ 'is-invalid': isError() }"/><br>
        <div *ngIf="isError()" class="invalid-feedback">Firstname is required</div>
        </div>

    Surname:<br>
        <input type="text"
               formControlName="surname"
               id="surname"
               class="form-control ng-untouched ng-pristine ng-valid"
               required
               [ngClass]="{ 'is-invalid': isError() }" /><br>
        <div *ngIf="isError()" class="invalid-feedback">Surname is required</div>


    Personal code:<br>
        <input type="number"
               formControlName="personalCode"
               id="personalCode"
               class="form-control ng-untouched ng-pristine ng-valid"
               required
               [ngClass]="{ 'is-invalid': isError() }" /><br><br>
        <div *ngIf="isError()" class="invalid-feedback">Personal code is required</div>

    <button (click)="onSubmit()" type="submit" class="btn btn-success" >SUBMIT</button>
    <br><br>
    <div [hidden]="!submitted">
      <h2>You submitted the following: </h2>
      <br>
        <div class="col-xs-3">Name: </div>
        <div class="col-xs-9">{{ person.name }}</div>
        <div class="col-xs-3">Lastname: </div>
        <div class="col-xs-9">{{ person.surname }}</div>
        <div class="col-xs-3">Personal Code: </div>
        <div class="col-xs-9">{{ person.personalCode }}</div>
      <br>
    </div>
      <br>
      <app-messages></app-messages>
  </form>
  </div>
