
<div class = "container">
    <fieldset class="form-group">
      <h3 class = "text-center">ROOMS:</h3>
    </fieldset>

  <fieldset class="form-group">
      <div class = "card-body">
        <ul class = "rooms">
        <div class = "table table-striped">
          <table>
            <thead> </thead>
            <input type="checkbox" (change)="bulk($event)" class="form-control"> Check all rooms<br><br>
            <tr>
              <th>ID</th>
              <th>SIZE</th>
              <th>DESCRIPTION</th>
              <th>PRICE</th>
            </tr>

            <tr *ngFor="let room of rooms">
              <th><input type="checkbox" [checked]="checks">{{room.id}}</th>
              <th>{{room.size}}</th>
              <th>{{room.description}}</th>
              <th>{{room.price}}</th>
              <br>
            </tr>
            <button class="btn-outline-light btn-success">SUBMIT</button>
          </table>
        </div>
        </ul>
      </div>
    </fieldset>
  </div>




