
<div class = "container">
  <div class = "card">
    <br>
    <h3 class = "text-center">My bookings </h3>
    <div class = "card-body">
      <div class = "table table-striped">
        <table>
          <thead> </thead>
    <tr>
      <th>Booking nr</th>
      <th>Check in</th>
      <th>Check out</th>
      <th>Room id</th>
      <th>Persons number</th>
      <th>Persons' data: </th>
    </tr>

    <tr *ngFor="let booking of bookings">
      <th>{{booking.bookingNr}}</th>
      <th>{{booking.startDate}}</th>
      <th>{{booking.endDate}}</th>
      <th>{{booking.room}}</th>
      <th>{{booking.personsC}}</th>
      <th>{{printPersons(booking.persons)}}</th>

      <br>
      <th>
        <button (click)="addBookingDeleteModal(booking)" type="button" class="btn btn-primary" data-toggle="modal" data-target="deleteBookingModal">DELETE</button>
      <!--  <button (click)="addBookingModal(booking)">UPDATE</button>-->
      </th>
    </tr>
        </table>
      </div>
    </div>
  </div>
</div>
