:host {
  display: block;
}

.open-close-container {
  width: 300px;
  border: 1px solid black;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
