<br>
<div class="container">
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>

  <div class="login">
    User Name : <input type="text" placeholder='Enter name' name="username" [(ngModel)]="username" required>
    Password  : <input type="password" placeholder="Enter password!"  name="password" [(ngModel)]="password" required>

    <!-- <button (click)=handleLogin() class="btn btn-success">Login</button> -->
    <button (click)=handleBasicAuthLogin() class="btn btn-success">Login</button>
  </div>
</div>
<br>
