<div class="container">
  <div [hidden]="submitted">
    <h1>Worker Form</h1>
    <form (ngSubmit)="onSubmit()" #workerForm="ngForm">
      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>

      <label for="lastname">Lastname: </label>
      <input type="text" class="form-control" id="lastname"
             required
             [(ngModel)]="model.lastname" name="lastname"
             #lastname="ngModel">
      <div [hidden]="lastname.valid || lastname.pristine"
           class="alert alert-danger">
        Lastname is required
      </div>

        <label for="position">Position: </label>
        <input type="text" class="form-control" id="position"
               required
               [(ngModel)]="model.position" name="position"
               #position="ngModel">
        <div [hidden]="position.valid || position.pristine"
             class="alert alert-danger">
          Position is required
      </div>

        <label for="age">Age: </label>
        <input type="number" class="form-control" id="age" min="0" max="100"
               required
               [(ngModel)]="model.age" name="age"
               #age="ngModel">
      </div>

        <label for="alterEgo">Alter Ego: </label>
        <input type="text" class="form-control" id="alterEgo"
               required
               [(ngModel)]="model.alterEgo" name="alterEgo">

        <label for="skill">Worker skills: </label>
        <select class="form-control" id="skill"
                required
                [(ngModel)]="model.skill" name="skill"
                #skill="ngModel">
          <option *ngFor="let pow of skills" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="skill.valid || skill.pristine" class="alert alert-danger">
          Skills is required
        </div>
<br>
      <button type="submit" class="btn btn-success" [disabled]="!workerForm.form.valid">Submit</button>
      <button type="button" class="btn btn-outline-success" (click)="newWorker(); workerForm.reset()">New Worker</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name: </div><br>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Lastname: </div><br>
      <div class="col-xs-9">{{ model.lastname }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Position: </div><br>
      <div class="col-xs-9">{{ model.position }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Age: </div><br>
      <div class="col-xs-9">{{ model.age }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Alter Ego: </div><br>
      <div class="col-xs-9">{{ model.alterEgo }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Worker Skills: </div><br>
      <div class="col-xs-9">{{ model.skill }}</div>
    </div>

    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
