
 body,h1,h2,h3,h4,h5,h6 {
   background-color: lightblue;

   font-family: "Raleway", Arial, Helvetica, sans-serif;
   display: flow;
 }

 .hotel-display-container:hover {display:block}
 .hotel-display-container:hover {position:relative}

 .hotel-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}

 .person {
   content:"\f133";
   text: bold;
   background: lightsteelblue;
   border: 2px solid rgba(132, 163, 130, 0.747);
   margin: 10px;
   padding: 10px;
   border-radius: 3px;
   background: rgba(173, 209, 171, 0.747);;
   display: flex;
   flex-wrap: wrap;
   text-align: left;
 }

 .person-item-box {
   border: 2px solid rgba(132, 163, 130, 0.747);
   margin: 10px;
   padding: 10px;
   border-radius: 3px;
   background: rgba(173, 209, 171, 0.747);;
   display: flex;
   flex-wrap: wrap;
   text-align: left;
 }

 .hotel {
   padding:8px;
   display:block;
   border:cornflowerblue;
   background: lightblue;
   border-bottom:1px solid #ccc;
   width:100%;
   opacity: 98%;

 }

 .hotel-input {
   padding:8px;
   display:block;
   border:none;
   border-bottom:1px solid #ccc;
   width:100%
 }

.hotel-border {
  border:1px solid deepskyblue;
  margin:0 4px;
  padding:.35em .625em .75em
}

 .hotel-opacity {
   opacity:0.60
 }

 .hotel-row-padding {
   content:"";
   display: table;
   clear:both;
   padding:0 8px
 }

 .hotel-half {
   float:left;
   width:100%
 }

 .hotel-margin-bottom {
   margin-bottom:16px
 }

 .hotel-black {
   color:#fff!important;
   background-color:#000!important
 }

 .hotel-block {
   display: flex;
   width:100%
 }

 .hotel-padding {
   padding:8px 16px!important
 }

 .hotel-padding-16 {
   padding-top:16px!important;
   padding-bottom:16px!important
 }

 .hotel-white {
   color:#000!important;
   background-color:aliceblue;
   border: 2px cadetblue;
 }

 .hotel-display-left{
   position:absolute;
   top:50%;left:0%;
   transform:translate(0%,-50%);
   -ms-transform:translate(-0%,-50%)
 }

 .hotel-large {
   font-size:18px!important
 }

 .fa-calendar-o
 {
   content:"\f133";
   text: bold;
   background: lightsteelblue;
 }

 .fa {
   display:inline-block;
   font:normal normal normal 14px/1 FontAwesome;
   font-size:inherit;
   text-rendering:auto;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale
 }

 .fa-male {
   content:"\f183"
 }

 .fa-child {
   content:"\f1ae"
 }
 .fa-search {
   content:"\f002";
   text-align: center
 }

 .hotel-margin-right {
   margin-right:16px
 }

 .hotel-third {
   float:left;
   width:100%
 }

 .hotel-container,.hotel-panel:after,.hotel-panel:before,.hotel-row,.hotel-row:before,.hotel-row-padding:after,.hotel-row-padding:before,
 .hotel-cell-row:before,.hotel-cell-row:after,.hotel-clear:after,.hotel-clear:before,.hotel-bar:before,.hotel-bar:after
 {
   content:"";
   display:table;
   clear:both;
   display:inline-block;
   padding:0.01em 16px
 }

 .s3 {
   width:24.99999%
 }

 hotel-button {
   border:none;
   display:inline-block;
   padding:8px 16px;
   vertical-align:middle;
   overflow:hidden;
   text-decoration:none;
   color:inherit;
   background-color:inherit;
   text-align:center;
   cursor:pointer;
   white-space:nowrap
 }


 .hotel-dark-grey {
   color:#fff!important;
   background-color:#616161!important
 }

 .hotel-red {
   color:mediumvioletred;
   text-decoration: #125699;
   background-color:cadetblue;
 }

 .hotel-col {
   float:left;
   width:100%
 }

 .hotel-top {
   position: center;
   width:100%;

 }

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  background: lightblue;
}

 .content-room {
   display: flex;
   margin: 82px auto 32px;
   padding: 0 16px;
   max-width: 960px;
   flex-direction: column;
   align-items: flex-start;
   border: 1px solid;
   background: lightblue;
 }

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCMPrEHJA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCHPrEHJA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

 .a.button {
   position: center;
   margin-right:2px;

 }

 .button {
   box-shadow: inset 0px 1px 0px 0px #ffffff;
   background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
   background-color: #ffffff;
   border-radius: 6px;
   border: 1px solid #dcdcdc;
   display: inline-block;
   cursor: pointer;
   color: #666666;
   font-family: Arial;
   font-size: 15px;
   font-weight: bold;
   padding: 6px 24px;
   text-decoration: none;
   text-shadow: 0px 1px 0px #ffffff;
   outline: 0;
 }
 .activebutton {
   box-shadow: inset 0px 1px 0px 0px #dcecfb;
   background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
   background-color: #bddbfa;
   border-radius: 6px;
   border: 1px solid #84bbf3;
   display: inline-block;
   cursor: pointer;
   color: #ffffff;
   font-family: Arial;
   font-size: 15px;
   font-weight: bold;
   padding: 6px 24px;
   text-decoration: none;
   text-shadow: 0px 1px 0px #528ecc;
   outline: 0;
 }
 h1 {
   font-size: 1.2em;
   margin-bottom: 0;
 }
 h2 {
   font-size: 2em;
   margin-top: 0;
   padding-top: 0;
 }
 nav a {
   padding: 5px 10px;
   text-decoration: none;
   margin-top: 10px;
   display: inline-block;
   background-color: #eee;
   border-radius: 4px;
 }
 nav a:visited, a:link {
   color: #334953;
 }
 nav a:hover {
   color: #039be5;
   background-color: #cfd8dc;
 }
 nav a.active {
   color: #039be5;
 }


 .button3{
    display:inline-block;
    padding:0.3px 1.2px;
    margin:0 0.3px 0.3px 0;
    border-radius:2px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
 }
 .button3:hover{
    background-color:#4095c6;
 }
 @media all and (max-width:30px) {
    .button3 {
       display: block;
       margin: auto;
   }
 }

