<style>
  body,h1,h2,h3,h4,h5,h6
</style>

<body class="hotel-light-grey">
<!-- Toolbar -->

<div class="toolbar hotel-bar hotel-white hotel-large" role="banner">
  <img
    width="40"
    alt="Hotel Logo"
    src="https://th.bing.com/th/id/OIP.RLSlSFoB2POImwN5O_uYmgHaHa?pid=Api&w=178&h=178&c=7&dpr=1.38"
  />
  <span aria-posinset>WELCOME TO HOTEL ALEKSANDRA       </span>

<br>
  <div>

    <a class="button3" class="activebutton" routerLink="/login">Login </a>
    <a class="button3" class="activebutton" routerLink="/logout">Logout </a>
    <a class="button3" class="activebutton"  routerLink="/welcome">Main </a>

  <router-outlet></router-outlet>
  </div>
</div>


<header class="hotel-display-container w3-content" style="max-width:1500px;">
<div class="content" role="main">
  <nav>
    <a class="button" routerLink="/room-detail">ROOMS</a> |
    <a class="button" routerLink="/dashboard">DASHBOARD</a> |
    <a class="button" routerLink="/pricelist">PRICELIST</a> |
    <a class="button" routerLink="/crisis-list">Crisis Center</a> |
    <a class="button" routerLink="/staff-list">Staff</a>
  </nav>
  <router-outlet></router-outlet>


  <div class="person" >
    <app-booking-room> </app-booking-room>
  </div>

  <div class="person">
    <app-person> </app-person>
  </div>

  <div class="person">
    <app-booking-table></app-booking-table>
  </div>

  <div class="person">
    <app-booking-person-table></app-booking-person-table>
  </div>

    <br>
    <template id="roomsEditTemplate">
      <div style="overflow-x: hidden; overflow-y: auto;">
        <h2>Rooms</h2>
        <br>
        <div id="errorBox" style="display: none;">
        </div>
        <br>
        <input type="hidden" id="roomId">

        Size:<br>
        <input type="text" id="roomSize"><br><br>

        Description:<br>
        <input type="text" id="roomDescription"><br><br>

        Price:<br>
        <input type="text" id="roomPrice"><br><br>


        <button onclick="editRoom()">Salvesta</button>
      </div>
    </template>
    <div class="card-container">
      <!-- Links (sit on top) -->
      <div class="hotel-top">
          <div class="hotel-col s3">
            <a href="https://www.w3schools.com/w3css/tryw3css_templates_hotel.htm#rooms" class="hotel-button hotel-block hotel-black">ABOUT</a>
          </div>
          <div class="hotel-col s3">
            <a href="#menu" class="hotel-button hotel-block hotel-black">PRICELIST</a>
          </div>
          <div class="hotel-col s3">
            <a href="#where" class="hotel-button hotel-block hotel-black">WHERE</a>
          </div>
        </div>
    </div>
    </div>
    <!-- Footer -->
    <footer>
      <p>Powered by Aleksandra</p>

    </footer>


  <!-- Add Google Maps -->
  <script>
    function myMap() {
      myCenter=new google.maps.LatLng(41.878114, -87.629798);
      var mapOptions= {
        center:myCenter,
        zoom:12, scrollwheel: false, draggable: false,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

      var marker = new google.maps.Marker({
        position: myCenter,
      });
      marker.setMap(map);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJgYokm-SEDrqye6nR65MOYmhcwJk8sX4&callback=myMap"></script>
  <!--
  To use this code on your website, get a free API key from Google.
  Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
  -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


