
<div class="grid grid-pad">
  <div class="content-room" role="main">
    <!-- Next Steps ROOM TEMPLATE-->
    <h2 style="text-align:center">Rooms</h2>
    <div class="hotel-row-padding hotel-padding-16">
      <div class="hotel-third hotel-margin-bottom">
        <img src="https://a36c2e13a78ae1256a2f-1dc878dead8ec78a84e429cdf4c9df00.ssl.cf1.rackcdn.com/responsive/980/a36c2e13a78ae1256a2f-1dc878dead8ec78a84e429cdf4c9df00.ssl.cf1.rackcdn.com/u/park-hotel-hong-kong/room/Superior-Single-Room_mid.jpg" alt="Single Room" style="width:50%">
        <div class="hotel-container hotel-white">
          <h3>Single Room</h3>
          <h6 class="hotel-opacity">From 50 EUR</h6>
          <p>Single bed</p>
          <p>15m<sup>2</sup></p>
          <form action="/action_page.php">
            <label for="room1">Choose room:</label>
            <select name="room1" id="room1">
              <option value="single">Single 50 EUR</option>
              <option value="single-premium">Single-premium 75 EUR</option>
              <option value="single-lux">Single-lux 100 EUR</option>
            </select>
            <br><br>
          </form>
          <button class="hotel-button hotel-block hotel-black hotel-margin-bottom">SUBMIT</button>
        </div>

      </div>
      <div class="hotel-third hotel-margin-bottom">
        <img src="https://hotelaloha.rs/wp-content/uploads/2019/10/double-room-hotel-aloha1-1000x667.jpg" alt="Double Room" style="width:50%">
        <div class="hotel-container hotel-white">
          <h3>Double Room</h3>
          <h6 class="hotel-opacity">From 75 EUR</h6>
          <p>Queen-size bed</p>
          <p>25m<sup>2</sup></p>
          <form action="/action_page.php">
            <label for="room2">Choose room:</label>
            <select name="room2" id="room2">
              <option value="double">Double 75 EUR</option>
              <option value="double-premium">Double-premium 125 EUR</option>
              <option value="double-lux">Double-lux 150 EUR</option>
            </select>
            <br><br>
          </form>
          <button class="hotel-button hotel-block hotel-black hotel-margin-bottom">SUBMIT</button>
        </div>
      </div>
      <div class="hotel-third hotel-margin-bottom">
        <img src="https://maikrosumrah.com/storage/uploads/room/2747-180202-2000-acc-l7hd.jpg.thumb.768.768.jpg" alt="Triple" style="width:50%">
        <div class="hotel-container hotel-white">
          <h3>Triple Room</h3>
          <h6 class="hotel-opacity">From 150 EUR</h6>
          <p>King-size bed</p>
          <p>40m<sup>2</sup></p>
          <form action="/action_page.php">
            <label for="room3">Choose room:</label>
            <select name="room3" id="room3">
              <option value="triple">Triple 125 EUR</option>
              <option value="triple-XXL">Triple XXL 150 EUR</option>
              <option value="triple-lux">Triple-lux 200 EUR</option>
            </select>
            <br><br>
          </form>
          <button class="hotel-button hotel-block hotel-black hotel-margin-bottom">SUBMIT</button>
        </div>
      </div>
    </div>
  </div>
  <button (click)="goBack()">go back</button>
</div>
