<h2>Insert/Remove</h2>

<nav>
  <button (click)="toggle()">Toggle Insert/Remove</button>
</nav>

<div @myInsertRemoveTrigger *ngIf="isShown" class="insert-remove-container">
  <p>Insert some text here: </p>
  <input required="required" type="text">
</div>
