:host {
  display: block;
}

.insert-remove-container {
  border: 5px solid indianred;
  background-color: palevioletred;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: mediumvioletred;
  font-weight: bold;
  font-size: 20px;
}
