<div class = "container">
  <div class = "card">
    <br>
    <h3 class = "text-center">Bookings by Person </h3>
    <div class = "card-body">
      <div class = "table table-striped">
        <table>
          <thead> </thead>
          <tr>
            <th>Nr</th>
            <th>Booking ID</th>
            <th>Person ID</th>
          </tr>

          <tr *ngFor="let bookingPerson of bookings">
            <th>{{bookingPerson.id}}</th>
            <th>{{bookingPerson.bookingId}}</th>
            <th>{{bookingPerson.personId}}</th>
            <br>
            <th>
              <button (click)="addBookingPersonDeleteModal(bookingPerson)" type="button" class="btn btn-primary" data-toggle="modal" data-target="deleteBookingModal">DELETE</button>
             <!-- <button (click)="addBookingPersonModal(bookingPerson)">UPDATE</button>-->
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
