<h2>Filter/Stagger</h2>

<form>
  <input #criteria (input)="updateCriteria(criteria.value)" placeholder="Search Staff" />
</form>

<ul class="staff" [@filterAnimation]="workerTotal">
  <li *ngFor="let worker of staff" class="staff">
    <div class="inner">
      <span class="badge">{{ worker.id }}</span>
      <span>{{ worker.name }} </span>
    </div>
  </li>
</ul>
