<div class="welcome"  style="overflow-x: hidden; overflow-y: auto;">
<H1>WELCOME</H1>

<div class="container">
  Welcome {{name}}. You can manage your rooms <a routerLink="/allRooms">here</a>
</div>

<div class="container">
  Click here to get a customized welcome message
  <button (click)="getWelcomeMessage()" class="btn btn-success">Get welcome message</button>
</div>

  <div class="container" *ngIf="welcomeMessageFromService">
    <H2>Your Customized Welcome Message</H2>
    {{welcomeMessageFromService}}
  </div>
</div>
