
<div class = "container">
  <div class = "card">
    <h3 class = "text-center">Person's list: </h3>
    <div class = "card-body">
      <div class = "table table-striped">
        <table>
          <thead> </thead>
          <input type="checkbox" (change)="bulk($event)"> Check all<br><br>
          <tr>
            <th>Nr</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Personal Code</th>
          </tr>

          <tr *ngFor="let person of persons">
            <th><input type="checkbox" [checked]="checks" (change)="selectPerson(person)">{{person.nr}}</th>
            <th>{{person.name}}</th>
            <th>{{person.surname}}</th>
            <th>{{person.personalCode}}</th>
            <br>
            <th>
              <button (click)="addPersonDeleteModal(person)" type="button" class="btn btn-primary" data-toggle="modal" data-target="deletePersonModal">DELETE</button>
              <button (click)="addPersonModal(person)">UPDATE</button>
            </th>

          </tr>
        </table>

        <button (click)="addPersonModal(null)" type="button" class="btn btn-primary" data-toggle="modal" data-target="personModal">
          ADD PERSON
        </button>

      </div>

    </div>

  </div>

</div>
