<h3 style="text-align:center"></h3>
<div class="grid grid-pad">
  <div class="content-room" role="main">
      <div class="columns-container">
        <h2 style="text-align:center">PRICELIST</h2>
        <div class="columns">
          <ul class="price">
            <li class="header">Continental Breakfast</li>
            <li class="grey">from 20 EUR </li>
            <li>Baked Goods / Pastries</li>
            <li>Fruits </li>
            <li>Bread</li>
            <li>Jams and Spreads</li>
            <li>Coffee / Tea</li>
            <li>Coffee</li>
            <li>Juice</li>
            <li>Carrot Cake</li>
            <li> Avocado </li>
          </ul>
        </div>

        <div class="columns">
          <ul class="price">
            <li class="header" style="background-color:#4CAF50">Dinner</li>
            <li class="grey">from 30 EUR </li>
            <li>Daily Soup </li>
            <li>Mixed Leaf Salad </li>
            <li>Grilled Salmon</li>
            <li>Chicken Escalope,</li>
            <li>Pumpkin Tortellini</li>
            <li>Fruit Salad</li>
            <li>Vanilla Pannacotta</li>
            <li>Bollinger Special Cuvée</li>
            <!-- <li class="grey"><a href="#" class="button">TELLI</a></li> -->
          </ul>
        </div>

        <div class="columns">
          <ul class="price">
            <li class="header">Supper</li>
            <li class="grey">from 35 EUR </li>
            <li>Beetroof salad </li>
            <li>Smoked Applewood Cheddar</li>
            <li>Chocolate and Mint Tart</li>
            <li>Plain and Raisin Scones</li>
            <li>Clotted Cream</li>
            <li>Afternoon Tea</li>
            <li>Chocolate Profiterole</li>
          </ul>
        </div>


        <div class="columns">
          <ul class="price">
            <li class="header" style="background-color:#4CAF50"> Optional Additions </li>
            <li class="grey"> from 15 EUR </li>
            <li>Full American Breakfast </li>
            <li>Full English Breakfast </li>
            <li>Italian Breakfast </li>
            <li>Israeli Breakfast</li>
            <li>Japanese Breakfast </li>
            <li>Breakfast Stations </li>
            <li>Healthy Options</li>

            <!-- <li class="grey"><a href="#" class="button">TELLI</a></li> -->
          </ul>
        </div>

      </div>
  </div>
  <button (click)="goBack()">go back</button>
</div>

