<div class="modal-header">
  <h1>ADD/UPDATE PERSON</h1>
</div>
  <div class="modal-body">
    <app-person-card [personCard]="person"></app-person-card>
  </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">Close</button>
    </div>

