<div *ngIf="messageService.messages.length">
<br>
  <h2>Messages</h2>
  <div class="error" *ngFor='let message of messageService.messages'> {{message}} </div>
  <button class="clear"
          (click)="messageService.clear()">Clear</button>
</div>
