
<h3 style="text-align:center">Top Rooms</h3>
<div class="grid grid-pad">
  <a *ngFor="let room of rooms" class="col-1-4">
    <a [routerLink]="['/room', room.id]">
    <div class="module room">
      <h4>Room nr: {{room.id}}</h4>
      <h4>Room size: {{room.size}}</h4>
      <h4>Description: {{room.description}}</h4>
      <h4>Price: {{room.price}}</h4>
    </div>
  </a>
  </a>
</div>



