<ul class="staff">
  <li *ngFor="let worker of staff"
      [@shrinkOut]="'in'" (click)="removeWorker(worker.id)">
    <div class="inner">
      <span class="badge">{{ worker.id }}</span>
      <span>{{ worker.name }}</span>
    </div>
  </li>
</ul>
