<br>
<h2>Hotel Workers</h2>
<ul class="staff">
  <li *ngFor="let worker of staff">
    <!--  [class.selected]="worker === selectedWorker"
      (click)="onSelect(worker)"> -->
    <a routerLink="/detail/{{worker.id}}">
    <span class="badge">{{worker.id}}</span> {{worker.name}} {{worker.lastname}}, {{worker.position}}, {{worker.age}}
    </a>
  </li>
</ul>

<!--<app-staff-detail [worker]="selectedWorker"></app-staff-detail>-->

