<h3>Get configuration from JSON file</h3>
<div>
  <button (click)="clear(); showConfig()">get</button>
  <button (click)="clear(); showConfigResponse()">getResponse</button>
  <button (click)="clear()">clear</button>
  <button (click)="clear(); makeError()">error</button>
  <span *ngIf="config">
    <p>Booking API URL is "{{config.baseUrl}}"</p>
    <p>Textfile URL is "{{config.textfile}}"</p>
    <div *ngIf="headers">
      Response headers:
      <ul>
        <li *ngFor="let header of headers">{{header}}</li>
      </ul>
    </div>
  </span>
</div>
<p *ngIf="error" class="error">{{error | json}}</p>
