<div class="modal-header">
  <h1>UPDATE BOOKING</h1>
</div>
<div class="modal-body">
 <app-booking-person-table></app-booking-person-table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="close()">Close</button>
</div>

