<div id="search-component">
  <h4><label for="search-box">Room Search</label></h4>

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let room of rooms$ | async" >
      <a routerLink="/detail/{{room.id}}">
        {{room.description}}
      </a>
    </li>
  </ul>
</div>
